@font-face {
	font-display: swap;
    font-family: 'matosans';
    src: url('../fonts/matosans.woff2') format('woff2'),
         url('../fonts/matosans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('../images/bg-pattern.gif');
	color: #333;
	font: caption;
	font-size: 1rem;
	line-height: 1.3;
}

a {
	color: #ff6c2d;
}

a:hover, a:focus {
	color: #e73a35;
	text-decoration: none;
}

h1 {
	color: #431832;
	font-family: 'matosans';
	font-size: 2.2rem;
	line-height: 1.2;
	margin: 0 auto .5em auto;
	max-width: 370px;
	text-align: center;
}

main {
	display: block;
	width: 100%;
}

p {
	font-size: 1rem;
}

.content-container {
	padding: 1.2em;
	position: absolute;
	top: 33.3vh;
}

.graphic-container {
	align-items: center;
	background: radial-gradient(circle, #511b3c, #431832);
	display: flex;
	height: 33.3vh;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 100vw;
}

.nobreak {
    white-space: nowrap;
}

#orbit-system {
  position: relative;
  width: 20em;
  height: 20em;
  margin: 0 auto;
}

.system, .system2, .system3, .system4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  -webkit-transform: rotateX(75deg) rotateY(-30deg);
  transform: rotateX(75deg) rotateY(-30deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.system2 {
  -webkit-transform: rotateX(75deg) rotateY(30deg);
  transform: rotateX(75deg) rotateY(30deg);
}

.system3 {
  -webkit-transform: rotateX(285deg) rotateY(30deg);
  transform: rotateX(285deg) rotateY(30deg);
}

.system4 {
  -webkit-transform: rotateX(285deg) rotateY(-30deg);
  transform: rotateX(285deg) rotateY(-30deg);
}

.planet, .satellite-orbit, .satellite {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.planet {
  background-color: #511b3c;
  width: 10em;
  height: 10em;
  margin-top: -5em;
  margin-left: -5em;
  border-radius: 50%;

  text-align: center;
  line-height: 10em;

  -webkit-transform: rotateY(30deg) rotateX(-75deg);
  transform: rotateY(30deg) rotateX(-75deg);
}

.satellite-orbit {
  width: 13em;
  height: 14em;
  margin-top: -6.5em;
  margin-left: -6.5em;

  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.satellite {
  right: auto;
  top: auto;
  left: auto;
  bottom: auto;

  width: 3em;
  height: 3em;
  margin-top: -1.5em;
  margin-left: -1.5em;

  text-align: center;
  line-height: 3em;

  -webkit-animation-name: invert-orbit;
  animation-name: invert-orbit;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.system2 .satellite {
    top: auto;
    /*bottom: 100%;*/

    -webkit-animation-name: invert-orbit2;
  animation-name: invert-orbit2;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.system3 .satellite {
    top: auto;
    /*left: 100%;*/

    -webkit-animation-name: invert-orbit3;
  animation-name: invert-orbit3;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.system4 .satellite {
    top: auto;
    /*right: 100%;*/

    -webkit-animation-name: invert-orbit4;
  animation-name: invert-orbit4;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

@-webkit-keyframes orbit {
    0% {
        transform: rotateZ(0deg) rotateX(0deg);
    }
    50% {
        transform: rotateZ(180deg) rotateX(10deg);
    }
    100% {
        transform: rotateZ(360deg) rotateX(0deg);
    }
}
@keyframes orbit {
    0% {
        transform: rotateZ(0deg) rotateX(0deg);
    }
    50% {
        transform: rotateZ(180deg) rotateX(10deg);
    }
    100% {
        transform: rotateZ(360deg) rotateX(0deg);
    }
}

/*
In order to invert the rotation, do the rotate* transforms in reverse order.

Here, we rotated the system with rotateX(75deg) rotateY(-30deg), and then we are animating the rotation of the orbit with rotateZ(0-360deg). To reverse that, we need to reverse the last transform applied (rotateZ), then rotateY, then rotateX.

The rotateX/Y reversal is easy since it's not animated, so just use its opposite (30deg, -75deg). The rotateZ is trickier since it's animating, but since it's rotating from 0 to 360, we just need to animate the satellite from 360 to 0.
*/
@-webkit-keyframes invert-orbit {
    0% {
        transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    }
}
@keyframes invert-orbit {
    0% {
        transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    }
}

@keyframes invert-orbit2 {
    0% {
        transform: rotateZ(360deg) rotateY(-30deg) rotateX(-75deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(-30deg) rotateX(-75deg);
    }
}

@keyframes invert-orbit3 {
    0% {
        transform: rotateZ(360deg) rotateY(-30deg) rotateX(-285deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(-30deg) rotateX(-285deg);
    }
}


@keyframes invert-orbit4 {
    0% {
        transform: rotateZ(360deg) rotateY(30deg) rotateX(-285deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(30deg) rotateX(-285deg);
    }
}


@media screen and (min-width: 700px) {
	h1 {
		font-size: 4rem;
		margin: 0 0 .75em 0;
		max-width: none;
		text-align: left;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.4;
	}

	.content-container {
		box-sizing: border-box;
		height: 100vh;
		overflow: scroll;
		padding: 2em;
		position: absolute;
		left: 0%;
		max-width: 50%;
		top: 0px;
	}

	.graphic-container {
		align-items: center;
		background: radial-gradient(circle, #511b3c, #431832);
		display: flex;
		height: 100vh;
		left: 50%;
		justify-content: center;
		overflow: hidden;
		position: absolute;
		width: 50vw;
	}

	.main-logo {
		width: 275px;
	}

	.planet {
	  width: 20em;
	  height: 20em;
	  margin-top: -10em;
	  margin-left: -10em;
	  line-height: 20em;
	}

	#orbit-system {
	  width: 40em;
	  height: 40em;
	}

	.satellite {
	  width: 6em;
	  height: 6em;
	  margin-top: -3em;
	  margin-left: -3em;
	  line-height: 6em;
	}

	.satellite-orbit {
	  width: 26em;
	  height: 26em;
	  margin-top: -13em;
	  margin-left: -13em;
	}

}
